html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px 0;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
}

.tourist-spot {
    background-color: white;
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image-container {
    text-align: center;
    margin-bottom: 15px;
}

.tourist-spot h2 {
    color: #4CAF50;
}

.tourist-spot img {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

.tourist-spot p {
    color: #666;
    line-height: 1.6;
}

footer {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #4CAF50;
    color: white;
    position: relative;
    width: 100%;
    bottom: 0;
}

#back-to-top {
    display: none; 
    position: fixed;
    bottom: 20px;
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: #4c4eaf; 
    color: white; 
    cursor: pointer; 
    padding: 15px;
    border-radius: 10px; 
    font-size: 18px; 
}

#back-to-top:hover {
    background-color: #555;
}